*{
    background-color: hsl(0, 0%, 13%);
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 0);
    padding: 0px 0px 0px 20px;
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
}
.banner{
    background-image: url(https://occ-0-5261-3662.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSzRQqMaM5IXcrgrT64Qtp3AZmvJU3mEwpA3Kiegs_qP3hMdpLLRnSZ9mVlvg8R9nO4SikNpRCvjI1gv1dsY2U7PJ75G0-WjI3Kv.jpg?r=a5a&quot);
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1% 0.5%;
}

.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    margin: 0.5% 3%;
    border-radius: 0.4%;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding: 2% 0;
    margin: 2px 0px 0px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    line-height: 22px;
    padding: 10px 0px 0px 10px;
}

footer{
    padding: 50px 4% 10px;
    color: #666;
}
footer h1{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 30px 0;
    color: #666;
}
footer .row{
    display: flex;
    align-items: start;
    padding: 10px 0px;
}
footer .col{
    margin: 10px 50px;

}
footer .col a{
    text-decoration: none;
    color: #666;
    font-size: 0.8rem;
    padding: 8px ;
    display: block;
}
footer .button .english{
    line-height: 1.7;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: #000;
    background-image: none;
    border: 1px solid #333;

}
option {
    font-weight: normal;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
}
