*{
    background-color: hsl(0, 0%, 13%);
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(2px 2px 10px rgb(225, 229, 9));
    color: yellow;
}
.banner{
    background-image: url(https://occ-0-5261-3662.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSzRQqMaM5IXcrgrT64Qtp3AZmvJU3mEwpA3Kiegs_qP3hMdpLLRnSZ9mVlvg8R9nO4SikNpRCvjI1gv1dsY2U7PJ75G0-WjI3Kv.jpg?r=a5a&quot);
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 650px;
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1% 0.5%;

}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    margin: 0.5% 2%;
    border-radius: 0.4%;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 10px 10px 5px 10px;
    font-weight: 500;
    color: aliceblue; 
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 2% 0;
}